# ----------------------------
# Node.js
# ----------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock
.env

# ----------------------------
# Logs
# ----------------------------
logs/
*.log

# ----------------------------
# OS files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# IDE / Editor
# ----------------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# ----------------------------
# Test / Coverage
# ----------------------------
coverage/
*.lcov

# ----------------------------
# Frontend
# ----------------------------
# Si tu as un build frontend (dist, build)
dist/
build/
*.local
